.back-wrapper {
  position: fixed;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  opacity: 0;
  animation: back-wrapper-show 1s forwards;
  animation-delay: 0.5s;

  .back-wrapper__img {
    max-width: 50vw;
    max-height: 50vh;
    animation: back-wrapper-rotation 10s infinite linear;
  }
}

@keyframes back-wrapper-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes back-wrapper-rotation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
